# DATA FRAME BASICS

Data frame is a main object in pandas. It is used to represent data with rows and columns (tabular or excel spread sheet like data)

Data frame is a datastructure represent the data in tabular or excel spread sheet like data)

Topics:

1. Creating data frame

2. dealing with rows and columns

3. Operations: min, max, std(standard deviation), describe

4. Conditional selection

5. Set index

creating dataframe:

In [1]:
import pandas as pd
df = pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

#another way of creating dataframe using python dictionary

In [2]:
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
df = pd.DataFrame(weather_data)
df

        day  event  temperature  windspeed
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7
2  1/3/2017   Snow           28          2
3  1/4/2017   Snow           24          7
4  1/5/2017   Rain           32          4
5  1/6/2017  Sunny           31          2

In [3]:
#get dimentions using shape

df.shape

(6, 4)

In [4]:
rows, columns = df.shape
rows

6

In [5]:
#if you want to see initial some rows then use head command (default 5 rows)
df.head()

        day  event  temperature  windspeed
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7
2  1/3/2017   Snow           28          2
3  1/4/2017   Snow           24          7
4  1/5/2017   Rain           32          4

In [6]:
#if you want to see last few rows then use tail command (default last 5 rows will print)
df.tail()

        day  event  temperature  windspeed
1  1/2/2017  Sunny           35          7
2  1/3/2017   Snow           28          2
3  1/4/2017   Snow           24          7
4  1/5/2017   Rain           32          4
5  1/6/2017  Sunny           31          2

In [8]:
df.head(2)

        day  event  temperature  windspeed
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7

In [10]:
#slicing
df[2:5]

        day event  temperature  windspeed
2  1/3/2017  Snow           28          2
3  1/4/2017  Snow           24          7
4  1/5/2017  Rain           32          4

In [11]:
#print columns
df.columns

Index([u'day', u'event', u'temperature', u'windspeed'], dtype='object')

In [12]:
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [13]:
#another way of printing column
df['day'] #df.day (both are same)

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [14]:
type(df['day'])

pandas.core.series.Series

In [15]:
#print 2 or more columns
df[['day', 'event']]

        day  event
0  1/1/2017   Rain
1  1/2/2017  Sunny
2  1/3/2017   Snow
3  1/4/2017   Snow
4  1/5/2017   Rain
5  1/6/2017  Sunny

In [16]:
#print temperature column
df['temperature']

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [17]:
#print max temperature
df['temperature'].max()

35

In [18]:
#print min temperature
df['temperature'].min()

24

In [19]:
#print mean temperature
df['temperature'].mean()

30.333333333333332

In [20]:
#print standard deviation
df['temperature'].std()

3.8297084310253524

In [21]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [22]:
df[df.temperature > 31]

        day  event  temperature  windspeed
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7
4  1/5/2017   Rain           32          4

In [23]:
df[df.temperature == df.temperature.max()] # print rows which has maximum temperature

        day  event  temperature  windspeed
1  1/2/2017  Sunny           35          7

In [24]:
df.day[df.temperature == df.temperature.max()] #select day column

1    1/2/2017
Name: day, dtype: object

#set index

In [25]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [26]:
df

        day  event  temperature  windspeed
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7
2  1/3/2017   Snow           28          2
3  1/4/2017   Snow           24          7
4  1/5/2017   Rain           32          4
5  1/6/2017  Sunny           31          2

In [27]:
#if you want change index
df.set_index('day') #it doesn't modify original dataframe

          event  temperature  windspeed
day
1/1/2017   Rain           32          6
1/2/2017  Sunny           35          7
1/3/2017   Snow           28          2
1/4/2017   Snow           24          7
1/5/2017   Rain           32          4
1/6/2017  Sunny           31          2

In [28]:
df

        day  event  temperature  windspeed
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7
2  1/3/2017   Snow           28          2
3  1/4/2017   Snow           24          7
4  1/5/2017   Rain           32          4
5  1/6/2017  Sunny           31          2

In [29]:
df.set_index('day', inplace=True)
df

          event  temperature  windspeed
day
1/1/2017   Rain           32          6
1/2/2017  Sunny           35          7
1/3/2017   Snow           28          2
1/4/2017   Snow           24          7
1/5/2017   Rain           32          4
1/6/2017  Sunny           31          2

In [30]:
#revert back
df.reset_index(inplace=True)
df

        day  event  temperature  windspeed
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7
2  1/3/2017   Snow           28          2
3  1/4/2017   Snow           24          7
4  1/5/2017   Rain           32          4
5  1/6/2017  Sunny           31          2

In [31]:
df.set_index('event', inplace=True)

In [32]:
df

            day  temperature  windspeed
event
Rain   1/1/2017           32          6
Sunny  1/2/2017           35          7
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7
Rain   1/5/2017           32          4
Sunny  1/6/2017           31          2

In [34]:
df.loc['Snow']

            day  temperature  windspeed
event
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7