# Data Frame

A DataFrame is a tabular data structure comprised of rows and columns, akin to a spreadsheet, database table etc. You can also think of a DataFrame as a group of Series objects (rows) that share an index (the column names).

# Creating

**1. From CSV**

Reading a CSV is as simple as calling the read_csv() function. By default, the read_csv() function expects the column separator to be a comma, but you can change that using the sep parameter.

In [1]:
import pandas as pd
df = pd.read_csv('weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [2]:
cols = ['Day', 'Temperature', 'WindSpeed', 'Event']

df = pd.read_csv('weather_data.csv', sep=',', header=None,
                         names=cols)
df

        Day  Temperature  WindSpeed  Event
0       day  temperature  windspeed  event
1  1/1/2017           32          6   Rain
2  1/2/2017           35          7  Sunny
3  1/3/2017           28          2   Snow
4  1/4/2017           24          7   Snow
5  1/5/2017           32          4   Rain
6  1/6/2017           31          2  Sunny

**Writing to CSV**

There's also a set of writer functions for writing to a variety of formats (CSVs, HTML tables, JSON). They function exactly as you'd expect and are typically called to_format:

In [3]:
df.to_csv('weather_data_new.csv', index=False)

In [4]:
new_df = pd.read_csv('weather_data_new.csv')
new_df

        Day  Temperature  WindSpeed  Event
0       day  temperature  windspeed  event
1  1/1/2017           32          6   Rain
2  1/2/2017           35          7  Sunny
3  1/3/2017           28          2   Snow
4  1/4/2017           24          7   Snow
5  1/5/2017           32          4   Rain
6  1/6/2017           31          2  Sunny

**From Excel**

Reading Excel files requires the xlrd library. You can install it via pip (**pip install xlrd**).

In [5]:
#read excel file 
df = pd.read_excel('weather_data.xlsx')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

**Write Excel**

In [6]:
df.to_excel('weather_data_excel.xlsx', index=False)

In [7]:
new_df = pd.read_excel('weather_data_excel.xlsx')
new_df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

**From Dictionary**

In [8]:
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
df = pd.DataFrame(weather_data)
df

        day  event  temperature  windspeed
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7
2  1/3/2017   Snow           28          2
3  1/4/2017   Snow           24          7
4  1/5/2017   Rain           32          4
5  1/6/2017  Sunny           31          2

**List of tuples**

In [9]:
#list of tuples

weather_data = [('1/1/2017', 32, 6, 'Rain'),
                ('1/2/2017', 35, 7, 'Sunny'),
                ('1/3/2017', 28, 2, 'Snow'),
                ('1/4/2017', 24, 7, 'Snow'),
                ('1/5/2017', 32, 4, 'Rain'),
                ('1/6/2017', 31, 2, 'Sunny')
               ]
df = pd.DataFrame(weather_data, columns=['day', 'event', 'temperature', 'windspeed'])
df

        day  event  temperature windspeed
0  1/1/2017     32            6      Rain
1  1/2/2017     35            7     Sunny
2  1/3/2017     28            2      Snow
3  1/4/2017     24            7      Snow
4  1/5/2017     32            4      Rain
5  1/6/2017     31            2     Sunny

**list of dictionaries**

In [10]:
weather_data = [{'day':'1/1/2017', 'event': 32, 'temperature': 7, 'windspeed': 'Rain'},
                {'day':'1/2/2017', 'event': 35, 'temperature': 7, 'windspeed': 'Sunny'},
                {'day':'1/3/2017', 'event': 28, 'temperature': 2, 'windspeed': 'Snow'},
                {'day':'1/4/2017', 'event': 24, 'temperature': 7, 'windspeed': 'Snow'},
                {'day':'1/5/2017', 'event': 32, 'temperature': 4, 'windspeed': 'Rain'},
                {'day':'1/6/2017', 'event': 31, 'temperature': 2, 'windspeed': 'Sunny'}
               ]
df = pd.DataFrame(weather_data)
df

        day  event  temperature windspeed
0  1/1/2017     32            7      Rain
1  1/2/2017     35            7     Sunny
2  1/3/2017     28            2      Snow
3  1/4/2017     24            7      Snow
4  1/5/2017     32            4      Rain
5  1/6/2017     31            2     Sunny

We'll be using the MovieLens dataset in many examples going forward.

In [11]:
#pass in column names for each CSV
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
df_users = pd.read_csv('ml-100k/u.user', sep='|', names=u_cols)

r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
df_ratings = pd.read_csv('ml-100k/u.data', sep='\t', names=r_cols)

m_cols = ['movie_id', 'title', 'release_date', 'video_release_date', 'imdb_url']
df_movies = pd.read_csv('ml-100k/u.item', sep='|', names=m_cols, usecols=range(5))# only load the first five columns

# Inspect

Pandas has a variety of functions for getting basic information about your DataFrame.

The most basic of which is **calling your DataFrame by name**. The output tells a few things about our DataFrame.
It's an instance of a DataFrame.

Each row is assigned an index of 0 to N-1, where N is the number of rows in the DataFrame. (index can be set arbitrary)

Our dataset has five total columns, one of which isn't populated at all (video_release_date) and two that are missing some values (release_date and imdb_url).

(i) **.dtypes**

Use the .dtypes attribute to get the datatype for each column.

In [12]:
print(df_movies.dtypes)
print('\n')

print(df_users.dtypes)
print('\n')

print(df_ratings.dtypes)

movie_id                int64
title                  object
release_date           object
video_release_date    float64
imdb_url               object
dtype: object


user_id        int64
age            int64
sex           object
occupation    object
zip_code      object
dtype: object


user_id           int64
movie_id          int64
rating            int64
unix_timestamp    int64
dtype: object

**(ii) .describe()**

Use the .describe() method to see the basic statistics about the DataFrame's numeric columns. Be careful though, since this will return information on all columns of a numeric datatype.

In [13]:
df_users.describe()

          user_id         age
count  943.000000  943.000000
mean   472.000000   34.051962
std    272.364951   12.192740
min      1.000000    7.000000
25%    236.500000   25.000000
50%    472.000000   31.000000
75%    707.500000   43.000000
max    943.000000   73.000000

Notice user_id was included since it's numeric. Since this is an ID value, the stats for it don't really matter.
We can quickly see the average age of our users is just above 34 years old, with the youngest being 7 and the oldest being 73. The median age is 31, with the youngest quartile of users being 25 or younger, and the oldest quartile being at least 43.

**c) .head(), tail(), [i:j]**


By default, .head() displays the first five records of the DataFrame, while .tail() displays the last five.
Alternatively, Python's regular slicing [i:j] syntax works as well.

In [14]:
print(df_users.head())

   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043
2        3   23   M      writer    32067
3        4   24   M  technician    43537
4        5   33   F       other    15213

In [15]:
print(df_users.tail())

     user_id  age sex     occupation zip_code
938      939   26   F        student    33319
939      940   32   M  administrator    02215
940      941   20   M        student    97229
941      942   48   F      librarian    78209
942      943   22   M        student    77841

In [16]:
print(df_users[10: 20])

    user_id  age sex     occupation zip_code
10       11   39   F          other    30329
11       12   28   F          other    06405
12       13   47   M       educator    29206
13       14   45   M      scientist    55106
14       15   49   F       educator    97301
15       16   21   M  entertainment    10309
16       17   30   M     programmer    06355
17       18   35   F          other    37212
18       19   40   M      librarian    02138
19       20   42   F      homemaker    95660

# Select

**Column Selection**

You can think of a DataFrame as a group of Series (ie: rows) that share an index (ie: column headers). This makes it easy to select specific columns.

**Single column selection**

Selecting a single column from the DataFrame will return a Series object.

In [17]:
df_users['occupation'].head()

0    technician
1         other
2        writer
3    technician
4         other
Name: occupation, dtype: object

**Multiple Column selection**

To select multiple columns, simply pass a list of column names to the DataFrame, the output of which will be a DataFrame.

In [18]:
print(df_users[['occupation', 'sex', 'zip_code']].head())

   occupation sex zip_code
0  technician   M    85711
1       other   F    94043
2      writer   M    32067
3  technician   M    43537
4       other   F    15213

**Row Selection**

Row selection can be done multiple ways

http://pandas.pydata.org/pandas-docs/stable/indexing.html
    
but using boolean indexing or individual index .ix() are typically easiest.

**Boolean Indexing**

In [19]:
# users older than 20
print(df_users[df_users.age > 20].head())

print('\n')

# users aged 40 AND male
print(df_users[(df_users.age == 40) & (df_users.sex == 'M')].head()) 

print('\n')

# users younger than 30 OR female
print(df_users[(df_users.sex == 'F') | (df_users.age < 30)].head())

   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043
2        3   23   M      writer    32067
3        4   24   M  technician    43537
4        5   33   F       other    15213


     user_id  age sex  occupation zip_code
18        19   40   M   librarian    02138
82        83   40   M       other    44133
115      116   40   M  healthcare    97232
199      200   40   M  programmer    93402
283      284   40   M   executive    92629


   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043
2        3   23   M      writer    32067
3        4   24   M  technician    43537
4        5   33   F       other    15213

**.loc() method**

When you change the indexing of a DataFrame to a specific column, you use the default pandas 0-based index.

Use .loc() method for row selection based on the new index.

Let's set the index to the user_id using the .set_index() method.
NB: By default, .set_index() returns a new DataFrame, so you'll have to specify if you'd like the changes to occur in place.

In [20]:
# Change index column (new DataFrame)
new_df_users = df_users.set_index('user_id')
print(new_df_users.head())

# Change index column (inplace)
df_users.set_index('user_id', inplace=True)
print(df_users.head())

         age sex  occupation zip_code
user_id
1         24   M  technician    85711
2         53   F       other    94043
3         23   M      writer    32067
4         24   M  technician    43537
5         33   F       other    15213
         age sex  occupation zip_code
user_id
1         24   M  technician    85711
2         53   F       other    94043
3         23   M      writer    32067
4         24   M  technician    43537
5         33   F       other    15213

In [22]:
# Select users using their respective user_id
print(df_users.loc[99])

print('\n')

print(df_users.loc[[1, 30, 200]])

age                20
sex                 M
occupation    student
zip_code        63129
Name: 99, dtype: object


         age sex  occupation zip_code
user_id
1         24   M  technician    85711
30         7   M     student    55436
200       40   M  programmer    93402

Use the .reset_index() method to reset the default index (the same rule apply for inplace).

In [23]:
df_users.reset_index(inplace=True)
print(df_users.head())

   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043
2        3   23   M      writer    32067
3        4   24   M  technician    43537
4        5   33   F       other    15213

# Sort

**.sort_values() for DataFrames**

Use .sort_values() method to sort DataFrames. Returns a new instance of a Dataframe.

    column : column name to base the sorting on (list for nested sorting / tuple for multi-index sorting)
    
    ascending (True) : sort ascending vs. descending (specify list for multiple sort orders)
    
    inplace (False): result is a new instance of DataFrame

In [26]:
df_users.sort_values('age', ascending=False, inplace=True)
print(df_users[df_users.occupation == "technician"][:10])

     user_id  age sex  occupation zip_code
196      197   55   M  technician    75094
440      441   50   M  technician    55013
324      325   48   M  technician    02139
487      488   48   M  technician    21012
457      458   47   M  technician    Y1A6B
717      718   42   M  technician    64118
142      143   42   M  technician    08832
937      938   38   F  technician    55038
738      739   35   M  technician    73162
737      738   35   M  technician    95403

# Operations

**Descriptive Stats**

A large number of methods for computing descriptive statistics and other related operations on Series, DataFrame, and Panel. For DataFrames these methods take an axis argument:

axis=0 : compute over indexes
axis=1 : compute over columns

**Most methods produce a lower-dimensional result (aka aggregate functions) :**

.count(): number of NOT NULL values

.nunique(): number of unique NOT NULL values

.size() : number of values

.min(): minimum

.max(): maximum

.sum(): sum of values

.prod(): product of values

.median(): arithmetic median of values

.quantile(): sample quantile (value at %)

.mean(): mean of values

.std(): unbiased standard deviation

.var(): unbiased variance

.mad(): mean absolute deviation

.sem(): unbiased standard error of the mean

.skew(): unbiased skewness (3rd moment)

.kurt(): unbiased kurtosis (4th moment)

**Some methods produce an object of the same size :**

.rank(): compute data rank (1 through n)

.mode(): mode

.abs(): absolute value

.cumsum(): cumulative sum

.cumprod(): cumulative product

.cummax(): cumulative maximum

.cummin(): cumulative minimum